body {
    margin: 0;
    color: #2f0601;
}
#nav-section {
    background-color: #1e2939;
    color: #b9d6f2;
    position: sticky;
    top: 0;
    overflow: hidden;
}
#nav-section a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #b9d6f2;
    margin: 10px;
}
#nav-section a:hover{
    color: #58a5ee;
    border-bottom-color: #b9d6f2;
    border-bottom-style: solid;
}
#nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    justify-self: center;
    height: 80px;
}
#hero-section,#summary-section,#about-section,#work-section,#contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #18bc9c;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
#summary-section {
    background-color: white;
}
#about-section {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#work-section {
    background-color: white;
}
#contact-section {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact-container {
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.circle {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    background-color: #aeecc3;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.hero-image {
    border-radius: 50%;
}
h1,h3,h4{
    font-family: sans-serif, Montserrat;
    font-size: 48px;
    margin: 0;
    padding: 20px;
    letter-spacing: 10px;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 28px;
    align-self: flex-start;
}
p {
    font-family: sans-serif, Montserrat;
    font-size: 20px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5;
}
#about-section p{
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    letter-spacing: 2px;
}
.skill-icons {
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.contact-container h3 {
    padding: 0;
    margin-bottom: 10px;
}
.contact-container p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
.name-div, .email-div, .msg-div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    padding-top: 20px
}
.contact {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    height: 30px;
    color: #2f0601;
    background-color: #aeecc3;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.contact-div {
    display: flex;
    flex-direction: column;
}
.name-div {
    margin-right: 20px;
}
.email-div {
    margin-left: 20px;
}
.name-email {
    display: flex;
}
label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
}
.msg-text {
    height: 200px;
}
.contact:focus {
    color: #2f0601;
    background-color: azure;
}
.contact:focus-visible {
    outline:none;
    border: none;
    color: #2f0601;
}
.submit-btn {
    width: 100px;
    height: 50px;
    margin-top: 20px;
    align-self: end;
    background-color: #1e2939;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
}
.submit-btn:hover {
    background-color: #b9d6f2;
    color: #1e2939;
    cursor: pointer;
}
/* Page Footer styles */

#footer {
    background-color: #1e2939;
    color: #b9d6f2;
    height: 400px;

}
#footer p {
    font-size: 12px;
    padding: 0;
    margin: 0;
}
#footer a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #b9d6f2;
    font-weight: 500;
    padding: 5px;
}
.footer-links a {
    margin-bottom: 25px;
}
#footer a:hover {
    color: #58a5ee;
    border-bottom-color: #b9d6f2;
    /* font-weight: 700; */
    /* border-bottom-style: solid; */
}
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 90%;
    justify-self: center;
}
.footer-sm-links {
    display: flex;
    justify-content: flex-end;
}
.footer-links, .footer-sm {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}
.footer-sm img {
    margin-bottom: 20px;
    margin-right: 20px;
}
.footer-sm img:hover {
    border-bottom-color: #58a5ee;

}