body {
    margin: 0;
    color: #2f0601;
}

/* Nav bar styles */
#nav-section {
    background-color: #1e2939;
    color: #b9d6f2;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.nav-logo {
    height: 50px;
}

.top-menu-item {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #b9d6f2;
    margin: 10px;
}

#nav-section a:hover {
    color: #58a5ee;
    border-bottom-color: #b9d6f2;
    border-bottom-style: solid;
}

#nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    justify-self: center;
    height: 80px;
}

/* common styles for all the sections */
#hero-section,
#summary-section,
#about-section,
#work-section,
#contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #18bc9c;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#summary-section {
    background-color: white;
}

#about-section {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#work-section {
    background-color: white;
}

#contact-section {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact-container {
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.circle {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    background-color: #aeecc3;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.circle img {
    height: 200px;
}

.hero-image {
    border-radius: 50%;
}

h1,
h3,
h4 {
    font-family: Montserrat;
    font-size: 64px;
    margin: 0;
    padding: 15px;
    letter-spacing: 5px;
}

h2 {
    font-family: "Amatic SC", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-family: Roboto;
    font-size: 40px;
    /* margin-top: 30px; */
    margin-bottom: 10px;
}

h4 {
    font-family: Roboto;
    font-size: 32px;
    align-self: flex-start;
}

.para {
    font-family: Roboto, sans-serif, Montserrat;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    letter-spacing: 2px;
    line-height: 1.5;
}

.skill-icons {
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.contact-container h3 {
    padding: 0;
    margin-bottom: 10px;
}

.name-div,
.email-div,
.msg-div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    padding-top: 20px
}

.contact {
    font-family: Roboto, sans-serif, Montserrat;
    font-size: 18px;
    height: 30px;
    color: #2f0601;
    background-color: #aeecc3;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contact-div {
    display: flex;
    flex-direction: column;
}

.name-div {
    margin-right: 20px;
}

.email-div {
    margin-left: 20px;
}

.name-email {
    display: flex;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
}

.msg-text {
    height: 200px;
}

.contact:focus {
    color: #2f0601;
    background-color: azure;
}

.contact:focus-visible {
    outline: none;
    border: none;
    color: #2f0601;
}

.submit-btn {
    width: 100px;
    height: 50px;
    margin-top: 20px;
    align-self: end;
    background-color: #1e2939;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: #b9d6f2;
    color: #1e2939;
    cursor: pointer;
}

/* Page Footer styles */

#footer {
    background-color: #1e2939;
    color: #b9d6f2;
    height: 450px;

}

#footer p {
    font-size: 12px;
    padding: 0;
    margin: 0;
}

#footer a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #b9d6f2;
    font-weight: 500;
    padding: 5px;
}

.footer-links a {
    margin-bottom: 25px;
}

#footer a:hover {
    color: #58a5ee;
    border-bottom-color: #b9d6f2;
    /* font-weight: 700; */
    /* border-bottom-style: solid; */
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 90%;
    justify-self: center;
}

.footer-sm-links {
    display: flex;
    justify-content: flex-end;
}

.footer-links,
.footer-sm {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

.footer-sm img {
    margin-bottom: 20px;
    margin-right: 20px;
}

.footer-sm img:hover {
    border-bottom-color: #58a5ee;
}

/* Latest Work section style as grid */
.grid-container-projects {
    /* display: grid;
    grid-template-columns: auto auto auto; */
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 80px;
}

.project {
    align-self: center;
    justify-self: center;
    justify-items: center;
    background-color: #d9e3ee;
    border-radius: 5px;
}

.project:hover {
    background-color: #aeecc3;
}

.project-image {
    /* max-width: 220px;
    max-height: 130px; */
    height: 130px;
    width: 220px;
    margin: 20px;
}

@media (min-width: 570px) and (max-width: 800px) {
    h1 {
        font-size: 48px;
        font-weight: 900;
    }

    h2 {
        font-size: 32px;
        font-weight: 900;
        letter-spacing: 10px;
    }

    h3,
    h4 {
        font-size: 24px;
        font-weight: 700;
    }

    .para {
        font-size: 14px;
    }

    .project-image {
        height: 70px;
        width: 130px;
        margin: 20px;
    }
}

@media (width <=570px) {
    h1 {
        font-size: 20px;
        font-weight: 900;
        align-self: center;
    }

    h2 {
        font-size: 18px;
        font-weight: 700;
        font-family: monospace;
        align-self: center;
        letter-spacing: 0px;
    }

    h3,
    h4 {
        font-size: 14px;
        font-weight: 900;
    }

    .para {
        font-size: 12px;
    }

    .section-container {
        margin-top: 30px;
    }

    .grid-container-projects {
        /* display: grid;
        grid-template-columns: auto auto auto; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .project {
        align-self: center;
        justify-self: center;
        justify-items: center;
        background-color: #d9e3ee;
        border-radius: 5px;
        margin-bottom: 30px;
    }

    .project-image {
        height: 100px;
        width: 170px;
        margin: 20px;
    }

    .name-email {
        flex-direction: column;
    }

    .name-div,
    .email-div {
        margin: 0px;
    }

    .footer-links,
    .footer-sm {
        margin: 20px;
    }

    .circle img {
        height: 150px;
    }

    .circle {
        height: 180px;
        width: 180px;
        border-radius: 50%;
        background-color: #aeecc3;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .top-menu-item {
        font-size: 11px;
        font-weight: 700;
        margin: 5px;
    }

    .nav-logo {
        height: 25px;
    }

    #nav-container {
        height: 50px;
    }
}